# Lab web scraping multiple pages

## Earthquake details

In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep
import numpy as np

In [2]:
url = "https://www.emsc-csem.org/Earthquake/"
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [3]:
iterations = range(1, 2000, 50)

base_url = "https://www.emsc-csem.org/Earthquake/?view="
urls = []
for i in iterations:
    start_at= str(i)
    url = base_url + start_at
    urls.append(url)

In [26]:
#initialize empty lists
date = []
latitude = []
wind_latitude = []
longitude = []
wind_longitude = []
region =[]

for url in urls[0:5]:
    response = requests.get(url)
    #print("Parsing url: ",url)
    #print()
    if (response.status_code == 200):
        wait_time = np.random.randint(1,4)
        sleep(wait_time)
        soup = BeautifulSoup(response.content, "html.parser")
        elems = soup.select("tr.normal")
        for elem in elems:
            try:
                sub = elem.select("td.tabev6 a")
                date.append(sub[0].get_text().replace("\xa0\xa0\xa0",", "))
            except:
                date.append('0000-00-00, 00:00:00.0')
            try:
                latitude.append(elem.select("td.tabev1")[0].get_text().replace("\xa0",""))
            except:
                latitude.append('00.00')
            try:
                wind_latitude.append(elem.select("td.tabev2")[0].get_text().replace("\xa0",""))
            except:
                wind_latitude.append('-')
            try:
                longitude.append(elem.select("td.tabev1")[1].get_text().replace("\xa0",""))
            except:
                longitude.append('00.00')
            try:
                wind_longitude.append(elem.select("td.tabev2")[1].get_text().replace("\xa0",""))
            except:
                wind_longitude.append('-')
            try:
                region.append(elem.select("td.tb_region")[0].get_text().replace("\xa0",""))
            except:
                region.append('UNKNOWN')

#print(date[0:3])
#print(latitude[0:3])
#print(longitude[0:3])
#print(region[0:3])

df = pd.DataFrame({'date & time' : date[0:3], 'latitude' : latitude[0:3], 'wind_latitude' : wind_latitude[0:3], 'longitude' : longitude[0:3], 'wind_longitude' : wind_longitude[0:3], 'region' : region[0:3]})

In [27]:
df

,date & time,latitude,wind_latitude,longitude,wind_longitude,region
0,"2021-02-22, 15:30:58.8",19.18,N,155.46,W,"ISLAND OF HAWAII, HAWAII"
1,"2021-02-22, 15:21:30.0",15.36,S,75.83,W,NEAR COAST OF CENTRAL PERU
2,"2021-02-22, 15:21:22.9",14.41,N,93.13,W,"OFFSHORE CHIAPAS, MEXICO"

## FBI most wanted

In [33]:
url2 = "https://www.fbi.gov/wanted/topten"
response2 = requests.get(url2)
soup2 = BeautifulSoup(response2.content, "html.parser")

In [35]:
most_wanted = []
names = soup2.findAll('li',attrs={"class":"portal-type-person castle-grid-block-item"})
for x in names:
    name = str(x.find('h3',{'class':'title'}).text).strip()
    most_wanted.append(name)
    
df2 = pd.DataFrame({'most_wanted':most_wanted})

In [36]:
df2.head()

                      most_wanted
0            RAFAEL CARO-QUINTERO
1           ROBERT WILLIAM FISHER
2  BHADRESHKUMAR CHETANBHAI PATEL
3      ALEJANDRO ROSALES CASTILLO
4                 ARNOLDO JIMENEZ

## Python wikipedia

In [37]:
url3 ='https://en.wikipedia.org/wiki/Python'
response3 = requests.get(url3)
response3.status_code

200

In [38]:
soup3 = BeautifulSoup(response3.content, "html.parser")

In [40]:
sp = soup3.select("#mw-content-text > div.mw-parser-output > ul > li > a")[0]["href"]
sp

'/wiki/Pythons'

In [41]:
links = []
for i in range(len(sp)):
    links.append("wikipedia.org" + soup3.select("#mw-content-text > div.mw-parser-output > ul > li > a")[i]["href"])

links

['wikipedia.org/wiki/Pythons',
 'wikipedia.org/wiki/Python_(programming_language)',
 'wikipedia.org/wiki/CMU_Common_Lisp',
 'wikipedia.org/wiki/PERQ#PERQ_3',
 'wikipedia.org/wiki/Python_of_Aenus',
 'wikipedia.org/wiki/Python_(painter)',
 'wikipedia.org/wiki/Python_of_Byzantium',
 'wikipedia.org/wiki/Python_of_Catana',
 'wikipedia.org/wiki/Python_Anghelo',
 'wikipedia.org/wiki/Python_(Efteling)',
 'wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'wikipedia.org/wiki/Python_(automobile_maker)']